@import '../../consts/fonts.module';

.loginWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;

  .title {
    display: flex;
    font-size: $login-title-fs;
    font-weight: $login-title-fw;
    color: $color-main;
  }

  .navigation {
    display: flex;

    cursor: pointer;
    font-size: $login-navigation-fs;
    font-weight: $login-navigation-fw;
    color: $bgcolor-accent;
  }
}
