@import '../../consts/fonts.module';

.header {
  display: flex;
  flex: 0 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.25rem;

    .text {
      display: flex;

      font-size: $navbar-info-fs;
      font-weight: $navbar-info-fw;
      color: $color-main;

      &.bold {
        font-weight: $navbar-infoBold-fw;

        .accent {
          color: $bgcolor-accent;
        }
      }
    }
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
    cursor: pointer;
    font-size: $navbar-title-fs;
    font-weight: $navbar-title-fw;
    color: $color-main;
  }

  .personal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    .iconWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;

      user-select: none;
      cursor: pointer;
      transition: all 0.25s;

      &:hover {
        background-color: $bgcolor-light-accent;
        border-radius: 4px;
      }

      img {
        width: 24px;
        height: 24px;
        max-width: 24px;
        max-height: 24px;
      }
    }

    .money {
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: $navbar-money-fs;
      font-weight: $navbar-money-fw;
      color: $bgcolor-accent;
    }
  }
}

.navbarWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;

  .categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

    .category {
      display: flex;
      align-items: center;
      justify-content: center;

      user-select: none;
      cursor: pointer;
      font-size: $navbar-category-fs;
      font-weight: $navbar-category-fw;
      color: $color-main;

      &.active {
        font-weight: $navbar-categoryActive-fw;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
