@import '../../consts/fonts.module';

.navbarWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;

  .header {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .title {
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: $navbar-title-fs;
      font-weight: $navbar-title-fw;
      color: $color-main
    }

    .searchbar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      gap: .25rem;
      padding: .75rem;
      outline: 1px solid $color-sec;

      input, input::placeholder {
        all: unset;
        width: 20rem;

        font-size: $navbar-searchbar-fs;
        font-weight: $navbar-searchbar-fw;
        color: $color-main;
      }

      img {
        width: 20px;
        height: 20px;
        max-width: 20px;
        max-height: 20px;

        cursor: pointer;
      }
    }

    .personal {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: .5rem;

      .iconWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem;
        cursor: pointer;

        img {
          width: 24px;
          height: 24px;
          max-width: 24px;
          max-height: 24px;
        }
      }

      .money {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: $navbar-money-fs;
        font-weight: $navbar-money-fw;
        color: $color-accent;
      }
    }
  }

  .categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

    .category {
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;
      font-size: $navbar-category-fs;
      font-weight: $navbar-category-fw;
      color: $color-main;
    }
  }
}