@import '../../consts/fonts.module';

.navbarWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;

  .header {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .title {
      display: flex;
      justify-content: center;
      align-items: center;

      user-select: none;
      cursor: pointer;
      font-size: $navbar-title-fs;
      font-weight: $navbar-title-fw;
      color: $color-main
    }

    .personal {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: .5rem;

      .iconWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem;

        user-select: none;
        cursor: pointer;
        transition: all .25s;

        &:hover {
          background-color: $bgcolor-light-accent;
          border-radius: 4px;
        }

        img {
          width: 24px;
          height: 24px;
          max-width: 24px;
          max-height: 24px;
        }
      }

      .money {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: $navbar-money-fs;
        font-weight: $navbar-money-fw;
        color: $bgcolor-accent;
      }
    }
  }

  .categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

    .category {
      display: flex;
      align-items: center;
      justify-content: center;

      user-select: none;
      cursor: pointer;
      font-size: $navbar-category-fs;
      font-weight: $navbar-category-fw;
      color: $color-main;

      &.active {
        font-weight: $navbar-categoryActive-fw;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}