@import '../../consts/fonts.module';

.cartItemWrapper {
  display: flex;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;

  .productInfo {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .5rem;

    &:nth-child(1) {
      flex: 2;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      gap: 0;
      outline: 1px solid $color-sec;

      .button {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: .625rem;
        user-select: none;
        cursor: pointer;
        transition: all .25s;

        &:nth-child(odd):hover {
          background-color: $bgcolor-light-accent;
        }

        img {
          width: 24px;
          height: 24px;
          max-width: 24px;
          max-height: 24px;
        }
      }
    }

    &.delete {
      justify-content: space-between;

      .iconWrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: .625rem;
        user-select: none;
        cursor: pointer;
        transition: all .25s;

        &:hover {
          background-color: $bgcolor-light-accent;
          border-radius: 4px;
        }

        img {
          width: 24px;
          height: 24px;
          max-width: 24px;
          max-height: 24px;
        }
      }
    }


    img {
      width: 100px;
      height: 100px;
      max-width: 100px;
      max-height: 100px;
    }

    .details {
      display: flex;
      flex-direction: column;
      gap: .25rem;

      font-size: $cart-product-primary-fs;
      font-weight: $cart-product-primary-fw;
      color: $color-main;

      .detail {
        display: flex;
        align-items: center;

        font-size: $cart-product-subcategory-fs;
        font-weight: $cart-product-subcategory-fw;
        color: $color-main;

        &.head, .head {
          font-size: $cart-product-primary-fs;
          font-weight: $cart-product-nameBold-fw;
        }
      }
    }
  }

}