@import '../../consts/fonts.module';

.warningWrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  background-color: $bgcolor-cart-warning;

  .iconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    max-width: 44px;
    max-height: 44px;
    background-color: $bgcolor-cart-warning-accent;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .message {
    display: flex;
    align-items: center;

    font-size: $cart-warning-fs;
    font-weight: $cart-warning-fw;
    color: $bgcolor-cart-warning-accent
  }
}
